/* Global Styling */
* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-color: papayawhip;
}

footer {
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: darkolivegreen;
    color: white;
}


/* Element Specific Styling */
header button {
    margin-top: 12px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
}

li {
    margin-bottom: 10px;
}

.gamePage h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.gamePage li {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.start button {
    font-size: 22px;
    font-weight: bold;
}

.start p {
    font-size: 28px;
}

.start h1 {
    font-size: 42px;
    text-decoration: underline olive;
}

/* Class Styling */
.button{
    background:white;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
.button:hover{
    background-color: rgb(146, 192, 147);
    color: white;
}

.gamePage {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gamePage, .submitPage, .highscorePage, #check {
    display:none;
}

.main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left:200px;
    margin-right:200px;
}


/* Media Queries */
@media only screen and (max-width: 960px) {
    body {
      background-color: papayawhip;
    }
    main {
        margin-left:50px;
        margin-right:50px;
    }
  }

@media only screen and (max-width: 520px) {
    body {
      background-color: papayawhip;
      font-size: 130%;
    }
    main {
        margin-left:12px;
        margin-right:12px;
    }
}